<div class="container login">
  <div class="container">
    <form action="<%= admin_authenticate_path %>" method="post" class="form-login">
      <h2 class="form-login-heading">Please log in</h2>
        <input type="text" class="input-block-level" name="user[login]" placeholder="Login" />
        <input type="password" class="input-block-level" name="user[password]" placeholder="Password" />
        <button class="btn btn-large btn-primary" type="submit">Log in</button>
    </form>
  </div>
</div>