.container {
  margin-top: 100px;

  input[type="text"] {
    font-size: 25px;
    height: 50px;
    text-align: center;
    width: 600px;
  }
  .date, .time, label {
    font-size: 20px;
    font-weight: bold;
  }
  select {
    font-size: 20px;
    height: 37px;
    text-align: center;
  }

  .share-buttons{
    width: 360px;
    margin: auto;

    li {
      float: left;
      list-style-type: none;
      width: 90px;
      padding-left: 30px;
      padding-left: 30px;

      &.twitter, &.google {
        padding-top: 3px;
      }
    }
  }

  .create {
    clear: both;
    margin-top: 60px;
  }
}

.control-group {
  margin: 30px 0;
}