.container {
  margin-top: 70px;

  input[type="text"] {
    font-size: 25px;
    height: 50px;
    text-align: center;
    width: 600px;
  }
  .date, .time, label {
    font-size: 20px;
    font-weight: bold;
  }
  select {
    font-size: 20px;
    height: 37px;
    text-align: center;
  }

  &.show table {
    margin: auto;

    th {
      font-size: 20px;
    }
    td {
      font-size: 50px;
      padding: 20px 40px;
    }
    &.date {
      margin-top: 20px;
    }
    &.time {
      margin-bottom: 30px;
    }
  }

  .share-buttons{
    width: 360px;
    margin: auto;

    li {
      float: left;
      list-style-type: none;
      width: 90px;
      padding-left: 30px;
      padding-left: 30px;

      &.twitter, &.google {
        padding-top: 3px;
      }
    }
  }

  .create {
    clear: both;
    margin-top: 60px;
  }
}

.control-group {
  margin: 30px 0;
}